In [1]:
#!/usr/bin/env python3

import pandas as pd
import random
import string
import collections

In [2]:
def insertRow(rowNum, df, rowVal):
    df1 = df[0:rowNum]
    df2 = df[rowNum:]
    df1.loc[rowNum] = rowVal
    dfResult = pd.concat([df1, df2])
    return dfResult

In [3]:
#peter_norvig = pd.read_clipboard()
#peter_norvig.to_csv("pn_wordlist.csv", index=False)
words = pd.read_csv("pn_wordlist.csv")

In [4]:
len(words)

333332

In [5]:
words = words.dropna()
words

            the  23135851162
0            of  13151942776
1           and  12997637966
2            to  12136980858
3             a   9081174698
4            in   8469404971
...         ...          ...
333327    gooek        12711
333328   gooddg        12711
333329  gooblle        12711
333330   gollgo        12711
333331    golgw        12711

[333330 rows x 2 columns]

In [6]:
columns_list = ["word", "counted_usages"]
row1 = []
for col in words.columns:
    row1.append(col)
for i in range(len(row1)):
    words.rename(columns={words.columns[i]: columns_list[i]}, inplace=True)
words = (insertRow(0, words, row1)).reset_index(drop=True)

/Users/Jen/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [7]:
words['word'] = words['word'].str.replace(' ', '')

In [8]:
words['word'] = words['word'].values.astype(str)

In [9]:
len(words['word'][0])

3

In [10]:
words['len_word'] = words['word'].apply(lambda x:len(x))
words['counted_usages'] = words['counted_usages'].astype(int)

In [11]:
# len_word = []
# for i in range(len(words['word'])):
#     print(words['word'][i])
#     if words['word'][i] == ' ':
#         continue
#     lw = len(words['word'][i])
#     len_word.append(lw)

In [12]:
sorted_words = words.sort_values(['len_word', 'counted_usages'], ascending=[False, False]).reset_index(drop=True)