In [1]:
#!/usr/bin/env python3

import pandas as pd
import random
import string
import collections

In [2]:
def insertRow(rowNum, df, rowVal):
    df1 = df[0:rowNum]
    df2 = df[rowNum:]
    df1.loc[rowNum] = rowVal
    dfResult = pd.concat([df1, df2])
    return dfResult

In [3]:
#peter_norvig = pd.read_clipboard()
#peter_norvig.to_csv("pn_wordlist.csv", index=False)
words = pd.read_csv("pn_wordlist.csv")

In [4]:
len(words)

333332

In [5]:
words = words.dropna()
words

            the  23135851162
0            of  13151942776
1           and  12997637966
2            to  12136980858
3             a   9081174698
4            in   8469404971
...         ...          ...
333327    gooek        12711
333328   gooddg        12711
333329  gooblle        12711
333330   gollgo        12711
333331    golgw        12711

[333330 rows x 2 columns]

In [6]:
columns_list = ["word", "counted_usages"]
row1 = []
for col in words.columns:
    row1.append(col)
for i in range(len(row1)):
    words.rename(columns={words.columns[i]: columns_list[i]}, inplace=True)
words = (insertRow(0, words, row1)).reset_index(drop=True)

/Users/Jen/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [7]:
words['word'] = words['word'].str.replace(' ', '')

In [8]:
words['word'] = words['word'].values.astype(str)

In [9]:
len(words['word'][0])

3

In [10]:
words['len_word'] = words['word'].apply(lambda x:len(x))
words['counted_usages'] = words['counted_usages'].astype(int)

In [11]:
words.head()

  word  counted_usages  len_word
0  the     23135851162         3
1   of     13151942776         2
2  and     12997637966         3
3   to     12136980858         2
4    a      9081174698         1

In [12]:
# len_word = []
# for i in range(len(words['word'])):
#     print(words['word'][i])
#     if words['word'][i] == ' ':
#         continue
#     lw = len(words['word'][i])
#     len_word.append(lw)

In [13]:
#sorted_words = words.sort_values(['counted_usages', 'len_word'], ascending=[False, False]).reset_index(drop=True)

In [14]:
#sorted_words

In [15]:
cipher_text = "DOLU PU AOL JVBYZL VM OBTHU LCLUAZ, PA ILJVTLZ ULJLZZHYF MVY VUL WLVWSL AV KPZZVSCL AOL WVSPAPJHS IHUKZ DOPJO OHCL JVUULJALK AOLT DPAO HUVAOLY, HUK AV HZZBTL HTVUN AOL WVDLYZ VM AOL LHYAO, AOL ZLWHYHAL HUK LXBHS ZAHAPVU AV DOPJO AOL SHDZ VM UHABYL HUK VM UHABYL'Z NVK LUAPASL AOLT, H KLJLUA YLZWLJA AV AOL VWPUPVUZ VM THURPUK YLXBPYLZ AOHA AOLF ZOVBSK KLJSHYL AOL JHBZLZ DOPJO PTWLS AOLT AV AOL ZLWHYHAPVU."
cipher_text = cipher_text.lower()
#cipher_split = cipher_text.split

In [27]:
#removing punctuation
#expects a string
def punct(test_text):
    punctuation_list = []
    punctuation_slice = []
    for i in range(len(test_text)):
        if test_text[i] == "'":
            punctuation_list.append(test_text[i])
            punctuation_list.append(i)
        elif test_text[i] == " ":
            punctuation_list.append(test_text[i])
            punctuation_list.append(i)
        elif test_text[i] == ".":
            punctuation_list.append(test_text[i])
            punctuation_list.append(i)
        elif test_text[i] == ",":
            punctuation_list.append(test_text[i])
            punctuation_list.append(i)
    return punctuation_list, punctuation_slice

In [62]:
#problem with loop copying 4 times
def remove_punct(str_replace):
    to_replace = [",", "'", ".", " "]
    replaced = []
    for i in to_replace:
        if i in str_replace:
            rep = str_replace.replace(i, "")
            replaced.append(rep)
    return replaced

In [63]:
#cipher_text.split(" ")

In [64]:
remove_punct(cipher_text.split(" ")[-1])

['zlwhyhapvu']

In [65]:
clean_cipher = []
for i in cipher_text.split(" "):
    clean_cipher.append(remove_punct(i))

In [66]:
clean_cipher

[[],
 [],
 [],
 [],
 [],
 [],
 ['lcluaz'],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 ['huvaoly'],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 ['lhyao'],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 ['uhabylz'],
 [],
 [],
 ['aolt'],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 ['zlwhyhapvu']]

In [24]:
# for i in cipher_text.split(" "):
#     punct(i)

In [25]:
cipher_text

"dolu pu aol jvbyzl vm obthu lcluaz, pa iljvtlz uljlzzhyf mvy vul wlvwsl av kpzzvscl aol wvspapjhs ihukz dopjo ohcl jvuuljalk aolt dpao huvaoly, huk av hzzbtl htvun aol wvdlyz vm aol lhyao, aol zlwhyhal huk lxbhs zahapvu av dopjo aol shdz vm uhabyl huk vm uhabyl'z nvk luapasl aolt, h kljlua ylzwlja av aol vwpupvuz vm thurpuk ylxbpylz aoha aolf zovbsk kljshyl aol jhbzlz dopjo ptwls aolt av aol zlwhyhapvu."

In [26]:
clean_cipher = punct(cipher_text)[0]
clean_cipher

AttributeError: 'list' object has no attribute 'replace'

In [20]:
cipher_list = cipher_text.split(" ")
#cipher_list

In [21]:
cipher_df = pd.DataFrame()
cipher_df['ci_words'] = cipher_list
cipher_df['len_word'] = cipher_df['ci_words'].apply(lambda x:len(x))

In [22]:
cipher_df.sort_values(['len_word'])

       ci_words  len_word
50            h         1
25           av         2
53           av         2
30           vm         2
42           vm         2
..          ...       ...
23     huvaoly,         8
20    jvuuljalk         9
16    wvspapjhs         9
9     uljlzzhyf         9
70  zlwhyhapvu.        11

[71 rows x 2 columns]